<div class="container column columns is-multiline">

  {{! username display/userId holder }}
  <h2
    class="column is-size-3 has-text-weight-bold"
    data-user-id="{{user.id}}"
    id="username"
  >{{user.username}}</h2>

  {{! new post button }}
  <div class="column columns is-full">
    <button class="button column is-size-4" id="new-post-btn"><span
        class="is-size-5"
      >➕</span>
      New Post</button>
  </div>

  {{! posts }}
  <div class="posts column columns is-full is-multiline">
    {{#each user.posts}}
      <a class="post container column is-full my-4" data-post-id="{{id}}">
        <div class="card columns is-multiline has-background-info">
          <div class="card-header column is-full has-background-primary-light">
            <h3 class="title is-size-4 column p-0" data-post-id="{{id}}">{{title}}</h3>
          </div>
          <div class="card-content column has-text-white">
            <p class="column" id="content">{{content}}</p>
          </div>
        </div>
      </a>
    {{/each}}
  </div>

  {{! New Post Modal }}
  <div class="modal" id="new-post-modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">New Post</p>
        <button class="close-modal delete" aria-label="close"></button>
      </header>

      <form class="modal-card-body columns is-multiline" id="new-post-form">
        <input
          type="text"
          placeholder="Title"
          class="column is-full my-3"
          id="new-post-title"
        />
        <textarea
          name="new-post-content"
          id="new-post-content"
          cols="30"
          rows="10"
          class="column is-full my-3"
          placeholder="Content Here..."
        ></textarea>
      </form>

      <footer class="modal-card-foot columns is-multiline">
        <button
          type="submit"
          form="new-post-form"
          class="button is-info column py-1"
          id="post-submit-btn"
        >Post</button>
        <button class="close-modal button column py-1">Cancel</button>
      </footer>
    </div>
    <button
      class="modal-close close-modal is-large"
      aria-label="close"
    ></button>
  </div>
</div>

{{!-- Update Post Modal --}}
  <div class="modal" id="edit-post-modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Edit Post</p>
        <button class="close-edit delete" aria-label="close"></button>
      </header>

      <form class="modal-card-body columns is-multiline" id="edit-post-form">
        <input
          type="text"
          placeholder="Title"
          class="column is-full my-3"
          id="edit-post-title"
        />
        <textarea
          name="edit-post-content"
          id="edit-post-content"
          cols="30"
          rows="10"
          class="column is-full my-3"
          placeholder="Content Here..."
        ></textarea>
      </form>

      <footer class="modal-card-foot columns is-multiline">
        <button
          type="submit"
          form="edit-post-form"
          class="button is-info column py-1"
          id="edit-submit-btn"
        >Update</button>
        <button class="close-edit button column py-1">Cancel</button>
      </footer>
    </div>
    <button
      class="modal-close close-edit is-large"
      aria-label="close"
    ></button>
  </div>
</div>

<script src="./js/dashboard.js"></script>